body{
    width:100vw;
    height:100vh;
}

#image-wrap{
    display:none;
}

#image-wrap i{
    cursor:pointer;
}

.upd-img{
    width:200px;
    height:120px;
    border-radius:.25rem;
    border:1px solid #383838;
    background-size:cover;
}

.upd-img .upd-img-edit{
    width:100%;
    height:100%;
    background:rgba(1,1,1,0);
    transition:all 150ms ease;
    text-align:center;
    padding-top:33px;
    font-size:32px;
}

.upd-img .upd-img-edit:hover{
    background:rgba(1,1,1,0.7);
    cursor:pointer;
}

.upd-img .upd-img-edit:hover i{
    opacity:1;
}

.upd-img .upd-img-edit i{
    color:#fff;
    opacity:0;
}

.item{
    box-shadow:9px 9px 20px rgba(1,1,1,0.03);
    border:0;
    transition:all 300ms ease;
}

.item img{
    opacity:0.9;
    transition:all 200ms ease;
}

.card-title a{
    color:#1f1f1f;
    font-weight:bold;
}

.item:hover{
    cursor:pointer;
    box-shadow:9px 9px 35px rgba(1,1,1,0.14);
}

.item:hover img{
    opacity:1;
}

.card-title a:hover{
    text-decoration: none;
}

.item-wrap{
    margin-bottom:30px;
}

#big-delete-sign{
    font-size:72px;
}

#portfolio-items{
    margin-top:25px;
}

footer{
    margin-bottom:25px;
    margin-top:40px;
    font-weight:bold;
    opacity:0.5;
}

.highlight{
    color:#4c9be3;
}

.placeholder{
    background-color:magenta;
    color:yellow;
}

#banner{
    min-width:50%;
    height:200px;
    background-size:cover;
    background-position:50% 50%;
    border: 1px solid rgba(0,0,0,.05);
}

.nav2-item{
    padding-top:14px;
    padding-bottom:14px;
    background-color: #474f57;
    border-bottom:2px solid #68737f;
    color:#fff;
    transition:all 200ms ease;
    opacity:1;
}

.nav2-item:hover{
    border-bottom:2px solid #4c9be3;
}

@media only screen and (max-width:900px) {

    .nav2-item{
        width:100% !important;
        padding-top:8px;
        padding-bottom:8px;
    }

}

.edit{
    background-color:#3392D8;
    position:absolute;
    z-index:54398;
    width:32px;
    height:32px;
    border-radius:50%;
    color:#fff;
    text-align:center;
    left:4px;
    top:-8px;
    opacity:0;
    font-size:16px;
    padding:3px;
    transition:opacity 200ms ease;
}

#flags{
    margin-top:5px;
    top:0px;
    right:40px;
}

#flags form{
    float:left;
    margin-right:10px;
}

#flags form:after{
    clear:both;
}

#flags form img{
    cursor:pointer;
}

.item-wrap:hover .edit{
    opacity:1;
}

#menu-items:hover > a{
    opacity:1;
    color:#fff;
    text-decoration:none;
}

.row, .container-fluid {
    padding-left: 0;
    padding-right: -5px;
    margin-left: 0;
    margin-right: -5px;
}

#menu-items:hover > a:hover i{
    color:#4c9be3;
}

#menu-items .nav2-selected{
    background-color: #40474e;
    border-bottom:2px solid #4c9be3;
}

#menu-items .nav2-selected i{
    color: #4c9be3;
}

#menu-items{
    background:#474f57;
}

#add-new{
    font-size:14px;
}

#preview{
    overflow:hidden;
    max-width:100%;
}

#checkbox-new-item{
    min-width:200px;
    margin:6px;
    margin-left:20px;
}

.adm-portfolio-item{
    width:100%;
    border:1px solid #ccc;
    border-radius:3.2px;
    background-color:#fff;
}

.adm-portfolio-item .item-views{
    margin-right:5px;
}

.adm-portfolio-item:not(:first-child){
    margin-top:10px;
}

.adm-portfolio-item .item-name{
    float:left;
    font-size:18px;
}

.adm-portfolio-item .inner-item{
    padding:10px;
    padding-left:15px;
    padding-right:15px;
}

.adm-portfolio-item .item-name-count{
    opacity:0.5;
    font-size:12px;
}

.adm-portfolio-item .put-right{
    float:right;
}

.onoffswitch {
    margin-left:-20px;
    position: relative;
    width: 55px;
    display: inline-block;
    font-size: 80%;
}
.onoffswitch .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid hsl(0, 0%, 90%);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    margin: 0;
}
.onoffswitch .onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.15s ease-in-out;
    -o-transition: margin 0.15s ease-in-out;
    -moz-transition: margin 0.15s ease-in-out;
    transition: margin 0.15s ease-in-out;
}
.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 80%;
    color: hsl(0, 0%, 100%);
    font-weight: normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.onoffswitch .onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: hsl(207, 71%, 53%);
    color: hsl(0, 0%, 100%);
}
.onoffswitch .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 24%);
    text-align: right;
}
.onoffswitch .onoffswitch-switch {
    width: 22px;
    height: 22px;
    margin: 0;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    bottom: 0;
    right: 35px;
    -webkit-transition: right 0.15s ease-in-out;
    -o-transition: right 0.15s ease-in-out;
    -moz-transition: right 0.15s ease-in-out;
    transition: right 0.15s ease-in-out;
}
.toggle-group {
    position: relative;
    height: 27px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    top: 50%;
    left: 20px;
}
.toggle-group input[type=checkbox] {
    position: absolute;
    left: 10px;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
    right: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
    outline: thin dotted #333;
    outline: 0;
}
.toggle-group label {
    position: absolute;
    cursor: pointer;
    padding-left: 40px;
    padding-top:2px;
    display: inline-block;
    text-align: left;
    line-height: 24px;
    width: 100%;
    z-index: 1;
    height: 24px;
    font-weight: 200;
}

.aural {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.aural:focus {
    clip: rect(0, 0, 0, 0);
    font-size: 1em;
    height: auto;
    outline: thin dotted;
    position: static !important;
    width: auto;
    overflow: visible;
}

#portfolio-items ::-moz-selection {
    color:black;
    background:rgba(3,2,1,0);
}

#portfolio-items ::selection {
    color:black;
    background:rgba(3,2,1,0);
}

#no-items{
    position:relative;
    margin:0 auto;
    margin-top:75px;
}